@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,507;1,507&display=swap");
.n-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
}
.n-left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.n-name {
  font-size: 1.3rem;
  font-weight: bold;
}

.n-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-weight: 400;
}

.n-list ul {
  display: flex;
  list-style: none;
  gap: 35px;
  margin-right: 2rem;
}
.n-list ul li {
  font-style: unset;
  font-family: "Kanit", sans-serif;
  text-transform: capitalize;
}
.n-list ul li:hover {
  cursor: pointer;
  color: var(--orange);
}
@media screen and (max-width: 480px) {
  .n-list {
    display: none;
  }
  .n-button {
    display: none;
  }
}
