.t-wrapper {
  padding: 0 3rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}
.t-heading {
  display: flex;
  gap: 1rem;
  align-self: start;
}
.t-heading > * {
  font-weight: bold;
  font-size: 2rem;
}
.t-heading span:nth-of-type(2) {
  color: var(--orange);
}
.t-blur1 {
  left: 38rem;
  top: 16rem;
}
.t-blur2 {
  top: 9rem;
  left: 0;
}
.testimonial {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  width: 30rem;
  height: 12rem;
  background: rgba(255, 255, 255, 0.26);
  border-radius: 20px;
  box-shadow: var(--boxShadow);
  border: 7px solid var(--blueCard);
}
.testimonial img {
  height: 6rem;
  width: 6rem;
  border-radius: 100%;
}
.testimonial span {
  color: var(--gray);
}

.t-wrapper .swiper {
  width: 100%;
  height: 70%;
}
.t-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .t-wrapper {
    margin-top: 1rem;
    padding: 0;
  }
  .testimonial {
    height: 20rem;
  }
  .testimonial img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
}
