.experience {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  height: 8vh;
  text-transform: capitalize;
  margin-bottom: 12rem;
}
.achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  width: 4rem;
  height: 4rem;
  color: orangered;
  font-family: "tahoma";

  font-size: 2rem;
  font-weight: bold;
}

.achievement span:nth-of-type(2) {
  color: var(--orange);
  font-weight: 700;
}

@media screen and (max-width: 480px) {
  .experience {
    width: 100%;
    gap: 2rem;
    margin-top: 22rem;
    margin-bottom: 6em;
  }
  .circle {
    height: 3.2rem;
    width: 3.2rem;
    font-size: 3.2rem;
  }

  .achievement span:nth-of-type(1) {
    margin-top: 55px;
    font-size: 1.8rem;
  }
  .achievement span:nth-of-type(2) {
    font-size: 0.9rem;
    font-weight: 600;
  }
}
